<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.duong.android_forder_01"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.shoppingcard.ShoppingCardActivity"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.productdetail.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.shopdetail.ShopDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.notification.NotificationActivity"/>

        <service
            android:name=".service.FirebaseMessageService"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.FirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.listproduct.ListProductActivity"/>
        <activity android:name=".ui.shopmanagement.ShopManagementActivity"/>
    </application>

</manifest>